components/**/.*
components/**/*.json
components/**/*.log
components/**/*.map
components/**/*.md
components/**/*.scss
components/**/*.sh
components/**/*.ts
components/**/*.txt
components/**/*.yml
components/**/all-imports.html
components/**/gulpfile.js
components/**/hero.svg
components/**/index.html
components/**/LICENSE
components/**/Makefile
components/**/screenshot.png
components/**/wct.conf.js
components/**/demo
components/**/docs
components/**/samples
components/**/test
components/**/tests
